$tenpx: 10px;
$fifteenpx: 15px;
$seventeenpx: 17px;
$fifty: 50px;
$grey: rgb(116, 116, 116);
$blue: rgb(39, 65, 149);
$neon: rgb(47, 222, 44);

$fgothicmed: "Franklin Gothic Medium", Arial, sans-serif;

header {
  margin-left: 45px;
  margin-bottom: $fifty;
}
.main_ {
  margin-left: $fifty;
  h2 {
    font-family: $fgothicmed;
  }
  &_section {
    width: 550px;

    p {
      font-size: $seventeenpx;
    }
  }
}
.footer {
  &__nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
