$tenpx: 10px;
$fifteenpx: 15px;
$seventeenpx: 17px;
$fifty: 50px;
$grey: rgb(116, 116, 116);
$blue: rgb(39, 65, 149);
$neon: rgb(47, 222, 44);
$fgothicmed: "Franklin Gothic Medium", Arial, sans-serif;
